body {
  text-align: center;
  background-color: black;
}

div {
  margin-top: 15px;
}


.center {
  height: 200px;
  position: relative;
  border: 3px solid green;
  background-color:white
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}