<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="monetization" content="$ilp.uphold.com/qKwAJjY42AN6">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Simple AI</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <img src = "{{url_for('static',filename = output_image)}}"  width="45%" height="40%" alt="Output Image" style="padding-left: 150px; padding-bottom: 20px; text-align: center;" >
    <form class="form-signin" method="POST">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-bold">Enhanced Document</h1>
        <a class="btn btn-danger" role="button" href="{{url_for('static',filename = output_image)}}"
         download="proposed_file_name">
         Download
         </a>
      </div>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021</p>
    </form>
    <br>
    <br>
  </body>
</html>