<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="monetization" content="$ilp.uphold.com/qKwAJjY42AN6">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <script src = "static/js/new.js"></script>
    <title>Simple AI</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <button type="submit" onclick=exec()>Start</button>

    <button type="submit" onclick=stopexec()>Stop</button>
    <br>
    <br>








    <script>
       async function exec(){
    /**
 * The JWT token you get after authenticating with our API.
 * Check the Authentication section of the documentation for more details.
 */
const accessToken = "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFVUTRNemhDUVVWQk1rTkJNemszUTBNMlFVVTRRekkyUmpWQ056VTJRelUxUTBVeE5EZzFNUSJ9.eyJodHRwczovL3BsYXRmb3JtLnN5bWJsLmFpL3VzZXJJZCI6IjQ3ODM1MDE2NjU2MzIyNTYiLCJpc3MiOiJodHRwczovL2RpcmVjdC1wbGF0Zm9ybS5hdXRoMC5jb20vIiwic3ViIjoiSjE1WndvaFY1U1dKbjNSVGcxeVpyVmduNjlhNWJFMjdAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vcGxhdGZvcm0ucmFtbWVyLmFpIiwiaWF0IjoxNjMyMDI2MzQyLCJleHAiOjE2MzIxMTI3NDIsImF6cCI6IkoxNVp3b2hWNVNXSm4zUlRnMXlaclZnbjY5YTViRTI3IiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIn0.hGaI9PfuuKGoBFS_W0pka_QCeaZevu8JSP5acgINulV4mVdhxdGHpqjBFTH3AN6B98KBEbZaxZyeB2yuGbkraNfU343iCZUfmOFDTD3igXPinLUfSybnnpI_6LvjwvATknaMRyWyVEQqqeb5gTJ3DrONEl3nwGPdFQjbwmTUuiLbcb49kJGZN1VYFmQFIfmy9n4C3UOtz904TqIq6yCwBtMdaoWoQZjmK1C83SSHbzMRSCwYCD1v1004YK_ZclBUwl9G3Jl5M2L9d_nOaMXy-4QNaFJV9eaTrWK7XXTaySptRztcXrZO-yxgqb-uBBro9dzrBTwsY-2zffcMgqj5JQ"
const uniqueMeetingId = btoa("backbencherspot@example.com")
const symblEndpoint = `wss://api.symbl.ai/v1/realtime/insights/${uniqueMeetingId}?access_token=${accessToken}`;

const ws = new WebSocket(symblEndpoint);

// Fired when a message is received from the WebSocket server
ws.onmessage = (event) => {
  // You can find the conversationId in event.message.data.conversationId;
  const data = JSON.parse(event.data);
  if (data.type === 'message' && data.message.hasOwnProperty('data')) {
    console.log('conversationId', data.message.data.conversationId);
  }
  if (data.type === 'message_response') {
    for (let message of data.messages) {
      console.log('Transcript (more accurate): ', message.payload.content);
    }
  }
  if (data.type === 'topic_response') {
    for (let topic of data.topics) {
      console.log('Topic detected: ', topic.phrases)
    }
  }
  if (data.type === 'insight_response') {
    for (let insight of data.insights) {
      console.log('Insight detected: ', insight.payload.content);
    }
  }
  if (data.type === 'message' && data.message.hasOwnProperty('punctuated')) {
    console.log('Live transcript (less accurate): ', data.message.punctuated.transcript)
    document.getElementById("ouput_messages").innerHTML =  data.message.punctuated.transcript;
  }
  console.log(`Response type: ${data.type}. Object: `, data);
};

// Fired when the WebSocket closes unexpectedly due to an error or lost connetion
ws.onerror  = (err) => {
  console.error(err);
};

// Fired when the WebSocket connection has been closed
ws.onclose = (event) => {
  console.info('Connection to websocket closed');
};

// Fired when the connection succeeds.
ws.onopen = (event) => {
  ws.send(JSON.stringify({
    type: 'start_request',
    meetingTitle: 'Websockets How-to', // Conversation name
    insightTypes: ['question', 'action_item'], // Will enable insight generation
    config: {
      confidenceThreshold: 0.5,
      languageCode: 'en-US',
      speechRecognition: {
        encoding: 'LINEAR16',
        sampleRateHertz: 44100,
      }
    },
    speaker: {
      userId: 'example@symbl.ai',
      name: 'Example Sample',
    }
  }));
};

const stream = await navigator.mediaDevices.getUserMedia({ audio: true, video: false });

/**
 * The callback function which fires after a user gives the browser permission to use
 * the computer's microphone. Starts a recording session which sends the audio stream to
 * the WebSocket endpoint for processing.
 */
const handleSuccess = (stream) => {
  const AudioContext = window.AudioContext;
  const context = new AudioContext();
  const source = context.createMediaStreamSource(stream);
  const processor = context.createScriptProcessor(1024, 1, 1);
  const gainNode = context.createGain();
  source.connect(gainNode);
  gainNode.connect(processor);
  processor.connect(context.destination);
  processor.onaudioprocess = (e) => {
    // convert to 16-bit payload
    const inputData = e.inputBuffer.getChannelData(0) || new Float32Array(this.bufferSize);
    const targetBuffer = new Int16Array(inputData.length);
    for (let index = inputData.length; index > 0; index--) {
        targetBuffer[index] = 32767 * Math.min(1, inputData[index]);
    }
    // Send audio stream to websocket.
    if (ws.readyState === WebSocket.OPEN) {
      ws.send(targetBuffer.buffer);
    }
  };
};


handleSuccess(stream);
}

function stopexec(){
    ws.send(JSON.stringify({
  "type": "stop_request"
}));
}


</script>

    <div class="text-center mb-4">
        <!-- <img class="mb-4" src="static/css/logo.png" alt="" width="120" height="120">
        --> <h1 class="h3 mb-3 font-weight-normal"> <b>Simple AI Live Audio Captioning</b></h1>
        <br>
        <br>
        <h2>Live Caption</h2>
        <p id="ouput_messages"></p>
      </div>
  </body>
</html>